body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.edit-workspace {
    margin-top: 10px;
}

.widget {
    margin-right: 10px;
}

.choose-widget {
    margin-bottom: 10px;
}

.form input.ng-invalid.ng-dirty, .form input.ng-invalid.ng-invalid-server {
    background-color: #FA787E;
}
.form input.ng-valid.ng-dirty {
    background-color: #78FA89;
}